L1_micrograd/.ipynb_checkpoints/engine-checkpoint.ipynb
L1_micrograd/.ipynb_checkpoints/enginep2-checkpoint.ipynb
L2_makemore/.ipynb_checkpoints/engine_mlp-checkpoint.ipynb
.gitignore
L2_makemore/.ipynb_checkpoints/engine_bigram-checkpoint.ipynb
